extends layout

block content
  h1 Login
  p please sign in below
  p(style="color:red") #{error}
  form(method="POST")
    label(for="email") Email
    input(type="text", value=email, name="email", id="email")
    label(for="password") Password
    input(type="password", value=password, name="password", id="password")
    button(type="submit", id="submit") Submit

  a(href="/register") or register here
